<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-0d">

    <header class="masthead">
      <div class="masthead-inner">
        <h1>{{ site.title }}</h1>
        <p class="lead">{{ site.description }}</p>

        <div class="colophon">
           <!-- Begin MailChimp Signup Form -->
           <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
           <style type="text/css">
                           #mc_embed_signup{color:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                           /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                              We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
           </style>
           <div id="mc_embed_signup">
           <form action="http://alanduvall.us3.list-manage.com/subscribe/post?u=b8a92df60985ab0706f1905be&amp;id=0f7a2ebff8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                           <h2>Subscribe to our mailing list</h2>
      
           <div class="mc-field-group">
                           <label for="mce-EMAIL">Email Address 
           </label>
                           <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
           </div>
                           <div id="mce-responses" class="clear">
                                           <div class="response" id="mce-error-response" style="display:none"></div>
                                           <div class="response" id="mce-success-response" style="display:none"></div>
                           </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
               <div style="position: absolute; left: -5000px;"><input type="text" name="b_b8a92df60985ab0706f1905be_0f7a2ebff8" value=""></div>
                           <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
           </form>
           </div>
 
           <!--End mc_embed_signup-->
          <p>&copy; 2014. {{ site.author.name }} All rights reserved.</p>
        </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MM2C5V"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MM2C5V');</script>
    <!-- End Google Tag Manager -->
  </body>
</html>
